h1 {
  color: rgb(10, 10, 10);
  font-size: 20 px;
  font-family: arial;
}

h2 {
  color: green;
}
p {font-family: Droid Sans;
    display: block;
    }

p {
    text-align: justify;
}

div {
  background: white;                          /* White background */
padding: 30px;                              /* Internal space */
border-radius: 4px;                         /* Small radius */
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

a { text-decoration:none;}


}
body {color:black;
background-color: white}

img {
   width:150px;
   height:150px;}


.img-circle {
  border-radius: 50%;
}

ul { list-style: none
}
li {display: inline-block;
}
.card {
background: rgb(245, 245, 245);                          /* White background */
padding: 30px;                              /* Internal space */
border-radius: 4px;                         /* Small radius */
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
border: 1px solid rgba(0, 0, 0, 0.1);
width: 700px;
margin: 10px auto;
text-align: center}

#movies td { padding: 15px;  }

